body {
  background-color: #0e1111;
  text-align: center;
  font-family: "Quicksand", sans-serif;
}

a {
  color: #3b444b;
}

a:hover {
  color: white;
}



/* navbar */



.navbar-collapse {
  text-align: right;
}

.navigator {
  color: #3b444b;
}



/* title section */


.title {
  text-align: center;
  padding: 15%;
}
 .blacktitle {
   font-size: 8rem;
   font-family: 'Maven Pro', black, sans-serif;
   font-weight: 900;
   line-height: 5rem;
   color: #3b444b;
 }

.darkshade {
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
  color: #3b444b;
}


/* features */

.features {
  padding: 9%;

}

.feature {
  padding: 5%;
  margin: 5px;
  border-style: solid;
  color: #3b444b;
}

.feature-text {
  margin-bottom: 2rem;
}



.icon {
  padding: 1rem;
}

/* testimonials */

.carousel-item {
  padding: 20%;
  font-family: 'Maven Pro', black, sans-serif;
  font-weight:400;
  color: #3b444b;
}

.image-testimonial {
  width: 20%;
  border-radius: 30%;
}

.smile {
  margin: 1rem;
}

/* pricing */

#pricing {
  text-align: center;
}

.pricing-title {
  font-size: 3rem;
  font-family: 'Maven Pro', black, sans-serif;
  font-weight: 400;
  line-height: 2rem;
  color: #3b444b;

}

.pricing-subtitle {
  font-family: 'Quicksand', sans-serif;
  font-size: 2rem;
  color: #3b444b;
}
.cards {
  text-align: center;
  padding: 5%;
  margin: 0 50px 100px;
}

.card {
  border-style: none;
}

.card-body {
  background-color: #0e1111;

}

.card-img-top {
    width: 100%;
    height: 40vw;
    object-fit: cover;
}

.card-text {
  color: #3b444b;
}

h5 {
  color: #3b444b;
}

/* contact */

.footer {
  padding: 3%;
}

.contact-icon {
  padding: 7px;
}

/* additionals */
